<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Hacker News</a>
  </div>
</nav>
<br/>
<div class="container">
  <div class="form-row">
    <div class="form-group col-md-4">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search for..." >
    </div>
  </div>
  <div *ngIf="stories.length>0">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">News</th>      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let story of stories| filter:searchText | paginate: { itemsPerPage: 20, currentPage: p }">      
          <td>
           <a *ngIf="story?.url" target="_blank" href="{{ story?.url}}"> {{ story?.title}}</a> 
           <div *ngIf="!story?.url"> {{ story?.title}}</div> 
          </td>        
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="stories.length==0">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>No News!</strong> Please refresh page or try later 
    </div>
  </div>

<div *ngIf="stories.length>0">
<div style="text-align: center;"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple"></ngx-spinner> 
</div>